.container-equipe {
    text-align: center;
    margin-top: 25px;
}

.container-equipe h2 {
    padding: 16px;
    font-family: "Michroma";
    font-family: "Michroma";
}

.equipe-list {
    width: 350px; 
    height: 200px; 
}

.equipe-list img {
    width: 100%; 
    max-width: 350px; 
    max-height: 80px; 
    padding: 0 30px; 
    object-fit: contain; 
}
