.infos-corrida {
    text-align: center;
    background-image: url('../../images/fundo-infos-corrida.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 60px;
    border-radius: 20px;
}

.infos {
    display: flex;
    gap: 40px;
}

.title-info {
    font-weight: 500;
}