.container-motor {
    text-align: center;
    margin-top: 25px;
}

.container-motor h2 {
    padding: 16px;
    font-family: "Michroma";
    font-family: "Michroma";
}
.motor-list {
    width: 350px; 
    height: 200px; 
    
}

.motor-list img {
    width: 100%; 
    max-width: 350px; 
    max-height: 80px; 
    padding: 0 30px; 
    object-fit: contain; 
}
