.header {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    align-items: center;
    background-color: #0E29B4;
    height: 80px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 8px black;
    z-index: 10;
}

.header img {
    height: 80%;
    margin-left: 20px;
}