.card-opcao {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 10px 20px 0 20px; 
    margin: 5px;
    border-radius: 10px;
    align-items: center;
    width: 100%; 
    cursor: pointer;
}

.card-opcao img {
    width: auto;
    max-width: 180px; 
    height: 80px; 
}

.card-opcao:hover{
    background-color: rgba(0, 102, 255, 0.507);
    transition: all 0.5s ease;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.685);
}

