.detalhes-escolha {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 40px;
}

.preco, .desempenho {
    display: flex;
    align-items: center;
    gap: 5px;
}